@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* || RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* || GENERAL STYLES */
html {
    scroll-behavior: smooth;
}

body {
    font: 1.5rem "Nunito", sans-serif;
    min-height: 100vh;

    background-color: #475569;
    background-image: radial-gradient(whitesmoke, #475569);
    display: flex;
    flex-direction: column;
}

header,
footer {
    position: sticky;
    background-color: #1e293b;
    color: whitesmoke;
    text-align: center;
}

header {
    top: 0;
}

nav {
    background-color: #fff;
    padding: 0.5rem;
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: space-evenly;
}

nav :is(a, a:visited) {
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
}
nav :is(a:focus, a:hover) {
    border-radius: 5px;
    background-color: #1e293b;
    color: whitesmoke;
}

.divider {
    color: #1e293b;
    margin: 0.5rem 0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}

.profile-card {
    scroll-margin-top: 8rem;
    width: min(100%, 300px);
    background-color: #cbd5e1;
    border: 2px solid #1e293b;
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-card figure {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.profile-card figcaption {
    font-size: 2rem;
    font-weight: 600;
    color: #1e293b;
    text-align: center;
    margin: 1rem;
}

.profile-card figcaption::first-letter {
    font-size: 1.5em;
    font-weight: 900;
    color: #1e293b;
}

.profile-card img {
    border: 5px double #000;
    border-radius: 50%;
}

.profile-card p {
    color: hsla(0, 0%, 0%, 0.756);
    text-align: center;
    padding: 0.5rem;
}

.profile-card p::before {
    content: "“";
    font-size: 1.5em;
    color: #1e293b;
}

.profile-card p::after {
    content: "”";
    font-size: 1.5em;
    color: #1e293b;
}

footer {
    bottom: 0;
}

/* || SMALL */
@media screen and (min-width: 576px) {
    main {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .profile-card {
        width: min(100%, 400px);
    }
}

/* || MEDIUM */
@media screen and (min-width: 768px) {
    .profile-card {
        width: min(100%, 350px);
    }
    .profile-card figure {
        flex-flow: column-reverse;
    }
    nav {
        display: none;
    }
}

/* || LARGE */
@media screen and (min-width: 912px) {
    .profile-card {
        width: min(100%, 450px);
    }
}

/* || LARGE */
@media screen and (min-width: 1024px) {
    .profile-card {
        width: min(33% - 1rem, 500px);
    }
}

/* || MOBILE DEVICE LANDSCAPE  */
@media screen and (max-height: 500px) and (min-aspect-ratio: 7/4) {
    h1 {
        font-size: 1.5rem;
    }
    nav {
        display: none;
    }
    main {
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: stretch;
    }
    .profile-card {
        width: min(33% - 0.25rem, 250px);
    }
    .profile-card figcaption {
        font-size: 1.25rem;
    }
    .profile-card p {
        font-size: 1rem;
    }
}
