@import "resets";
@import "variables";

@function get-font-weight($weight) {
    @return map-get($font-weights, $weight);
}

@mixin flex-center($direction: row) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: $direction;
}

@mixin theme($theme) {
    @if $theme == light {
        background-color: $primary-color;
        color: $secondary-color;
    } @else if $theme == dark {
        background-color: $secondary-color;
        color: $primary-color;
    }
}

@mixin responsive($breakpoint) {
    @media (max-width: $breakpoint) {
        @content;
    }
}

body {
    @include theme(light);
    font-family: $font-family;
}

.main {
    @include flex-center();
    padding: 20px;
    margin: 0 auto;
    width: 80%;

    #{&}_paragraph_1 { 
        // Using interpolation to create a class name. 
        // #{} allows for dynamic class names. #{&} refers to the parent selector
        // This will compile to .main_paragraph
        font-size: 1.2em;
        line-height: 1.5;
        @include theme(dark);
        border-radius: 5px;
        padding: 10px;
        font-weight: get-font-weight(thin);

        &:hover { // Nested selector for hover effect. & represents the parent selector
            font-weight: get-font-weight(bold);
        }
    }

    #{&}_paragraph_2 {
        @extend .main_paragraph_1; // Extending the styles of .main_paragraph
        @include theme(light);
    }

    @include responsive($breakpoint) {
        flex-direction: column;
        width: 100%;
        padding: 10px;
        gap: 5px;
    }
}